<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
      <div class="jumbotron bg-dark text-white m-5 p-0 text-center d-flex  align-items-center">
        <div class="container align-self-start" style="padding: 0px;"><img src="/burger.jpg" class="img" alt="Responsive image" style="max-height: 400px;"></div>
          <div class="container">
            <h1 class="display-4">Eat the Burger</h1>
            <p class="lead">Add new burgers to the list and then devour them. </p>
            <hr class="my-4">
            <div class="container-sm">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Add a burger" aria-label="add burger" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add!</button>
                    </div>
                  </div>
          </div>
      </div>
    </div>
   </div>

   <div class="container d-flex">
     <div class="container-sm">
       <h3 class="text-center">Available Burgers</h3>
      <ul class="list-group m-5">
        <li class="list-group-item">Cras justo odio<button class="btn btn-outline-secondary m-3">Devour</button></li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
     </div>
     <div class="container-sm">
       <h3 class="text-center">Devoured Burgers</h3>
      <ul class="list-group m-5">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
     </div>
   </div>


</body>
</html>